body {
  margin: 0;
  font-family: 'Inter',sans-serif;
  background-color: lightgray;
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.navbar {
  display: flex;
  align-items: center;
  padding-left: 500px;
  background-color: rgb(56, 128, 128);
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.15);
}

.nav-image {
  width: 40px;
  margin-right: 10px;
}

.text {
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.trip {
  padding: 30px 30px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom-style: solid;
  border-bottom-color: rgb(172, 170, 170);

}

.trip-image {
  width: 100%;
  display: flex;
  width: 150px;
  height: 210px;
  border-radius: 8px;
}

.trip-stats {
  margin-left: 20px;
}

.trip-location {
  margin-right: 20px;
}

.trip-link {
  color: gray;
}

.trip-date {
  font-weight: bold;
}

.location-icon {
  width: 30px;
  background-color: lightgray;
  margin-right: 10px;
  border-radius: 5px;
}

.firstline {
  display: flex;
  align-items: center;
}

.trip-2 {
  padding: 30px 30px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom-style: solid;
  border-bottom-color: rgb(172, 170, 170);
}

.trip-3 {
  padding: 30px 30px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom-style: solid;
  border-bottom-color: rgb(172, 170, 170);
}